<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список користувачів</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Користувачі</h1>
<table border="1">

    <form th:action="@{/users/search}" method="get">
        <input type="text" name="username" placeholder="Пошук за ім’ям">
        <button type="submit">🔍 Пошук</button>
    </form>


    <tr>
        <th>ID</th>
        <th>Ім'я</th>
        <th>Пошта</th>
        <th>Роль</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username}">Ім'я</td>
        <td th:text="${user.email}">email@example.com</td>
        <td th:text="${user.role}">USER</td>
        <td>
            <form th:action="@{'/users/delete/' + ${user.id}}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Ви впевнені, що хочете видалити користувача?');">Видалити</button>
            </form>
            <a th:href="@{'/users/update/' + ${user.id}}">
                <button type="submit">Оновити</button>
            </a>
        </td>
    </tr>
</table>

<br/>
<a th:href="@{/users/create}"> (New) Створити нового користувача</a>

</body>
</html>